@mixin window {
    background-color: $surface;
    border-radius: 1rem;
    padding: 1.2rem;
    color: $onSurface;
    box-shadow: 1px 1px 1px 1px $shadow;
    margin-bottom: 1.2rem;
    margin-right: 1.2rem;
}
